/*Fonts*/

@font-face {
    font-family: Avant Garde;
    src: url('../fonts/AvantGarde.ttf') format('truetype');
}
@font-face {
    font-family: Expressway;
    src: url('../fonts/expressway rg.ttf') format('truetype');
}
@font-face {
    font-family: Scriptina;
    src: url('../fonts/Scriptina Pro.otf') format('opentype');
}

/*Page*/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

p {
    font-size: 16pt;
}

/*Navbar*/
.navbar-fixed-top {
    top: 0;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-device-width: 769px) {
    .navbar-solid {
        width: 100%;
    }
    .navbar-solid ul li a {
        color: black !important;
    }
    .navbar-solid {
        background-color: transparent;
    }
}

.topbar {
    font-weight: bold;
    border: 0;
    transition: background-color 1s ease;
}
.topbar li:hover{
    background-color: #FEFEFE;
}
.topbar a:hover{
    color: #000000 !important;
}

/*Name Plate*/

.name-div {
    padding: 0;
    background: #000000 url("../assets/namebg.jpg")
        no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
@media (max-width: 768px) {
    .name-div {
        background-attachment: scroll;
    }
}



.name-plate {
    display: block;
    width: 90%;
    margin: auto;
    
    position: absolute;
    bottom: 50px;

    text-align: left;
    font-family: Avant Garde;
    font-size: 16pt;
    font-weight: 900;
    color: #E7A552;
}

.name-plate h1 {
    font-size: 95pt;
    font-family: Expressway;
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .name-plate h1 {
        font-size: 55px;
    }
}

/*Content Sections*/

/*Subsection*/
h2 {
    font-family: Avant Garde;
    font-size: 40pt;
    text-align: center;
    padding: 60px 0 0 0;
}
.subsection {
	padding: 0;
    background-color: #1E1E1E;
    color: #FAFAFA;
}
.subsection-mask {
    background-color: rgba(0,0,0, 0.75);
}
.subsection-text {
    padding: 80px 0px;   
}
.subsection ul {
    text-align: center;
}
.subsection li {
    text-align: left;
    font-size: 14pt;
}
.spacer {
    height: 50px;
}
hr {
    background-color: #E7A552 !important;
    border: 0;
    height: 3px;
    width: 50%;

    margin-top: 0;
    margin-bottom: 50px;
}

/*Default Section Styles*/

.subsection-image {
    width: 260px;
    height: 200px;
    margin: auto;
    padding: 50px 0 0 0;
}

.subsection-image img {
    display: block;
    max-width: 260px;
    max-height: 180px;
    margin: auto;
}
.subsection-description {
    text-align: center;
    padding: 20px 0 60px 0;
}



/*Section Specific Styles*/
/*introduction*/
.intro {
    background: #000000 url("../assets/introbg.jpg")
        no-repeat fixed center;
    background-size: cover;
}
@media (max-width: 768px) {
    .intro {
        background-attachment: scroll;
    }
}

.work {
}
.projects {
}

/* Music */

.album-art {
    height: 174px;
    width: 174px;
}

/* Contact */

.contact {
    padding-bottom: 0;
    background-color: #121212;
    color: #FAFAFA;
}
.contact h2 {
    padding: 0;
}
.contact hr {
     margin-bottom: 10px;
}
.contact p {
    font-size: 12px;
    color: #d3d3d3;
    text-align: center;
}

.contact-link-bar {
    text-align: center;
}
.contact-link {
    display: inline-block;
}
.contact-link a {
    padding: 5px 10px;

    font-size: 36px;
    line-height: 40px;
    color: #E7A552;
}
.contact-link a:hover {
    color: black;
    background-color: #FFFFFF;
}

.contact-link-bar-text {
   padding: 10px 0 0 0;
    height: 60px;
    font-size: 30px;
    line-height: 40px;
    color: #E7A552;
}

div.link-linkedin:hover ~ div.contact-link-bar-text:after {
    content: 'Linked In';
}
div.link-lastfm:hover ~ div.contact-link-bar-text:after {
    content: 'Last FM';
}
div.link-github:hover ~ div.contact-link-bar-text:after {
    content: 'GitHub';
}
div.link-email:hover ~ div.contact-link-bar-text:after {
    content: 'info@djlee.xyz';
}
div.link-resume:hover ~ div.contact-link-bar-text:after {
    content: 'Resume';
}

.footer-drawer-toggle {
    width: 32px;
    margin:auto;

    color: #FFFFFF;
    background-color: #1E1E1E;
}
.footer-drawer {
    height:36px;
    background-color: #1E1E1E;

    text-align: right;
}
.footer-drawer-icon {
    width: 36px;
    height: 36px;
    margin: auto;
}



.canvas {
    margins: -15px, 0;
    padding:0;
    height: 100vh;
    width: 100%;
}