<!DOCTYPE html>
<html ng-app="app">
<!--
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMNNmdhddNNNMMMMNNmdhyhdmmNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMNNdhsso+//oooshddhsoo++//ooosydmNMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMmhsoo/////////oyso++////////////+oshNMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMNhs+///////////sy+///////////////////shMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMmy+///////////+ys////////////////+++++yhMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMmhs////////////oy+//////+oooo+/+syssssssyddmmMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMNdyyy//////+ooososho/////oysoooosshy+///////+++sydNMMMMMMMMMMMMMMMM
MMMMMMMMMMMmdyo/sy++ssyssooo+++oyso++sy+///////+osyo+////////+oydMMMMMMMMMMMMMMM
MMMMMMMMMmhs++//syyyo///////////++oyyo////////////+ss//////////+hmMMMMMMMMMMMMMM
MMMMMMMMmyo//////oh+///////////////+sys+//++oosssssyy+/////////ohmMMMMMMMMMMMMMM
MMMMMMMMmy+/////+ys//////////////////+yyyyssoo+++++oyyso////////ohMMMMMMMMMMMMMM
MMMMMMMMNh+/////sy///////////////+osyssssyssso+///////+syso/////+yhdNMMMMMMMMMMM
MMMMMMMMmy+/////sy+//////////+osyso++////+/++syss+//////++sy+///+ysoydmMMMMMMMMM
MMMMMMMMNho/////oyo+///////+syo+///////////////+oyo///////+ys//+sy///ohNMMMMMMMM
MMMMMMMMMds++////+sy+//////sy////////////////////oho///////sy++ys+///+ymMMMMMMMM
MMMMMMMMMMmdyo/////oyo////+ys/////////////////////oh+//////oy+ys/////+ymMMMMMMMM
MMMMMMMMMMMMNdho////oyo+//sy+/////////////////////oho//////syyo//////+ymMMMMMMMM
MMMMMMMMMMMMMMNdhhyyshhyssho///////////////////////sy/////+ys////////+ymMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMds/+ho///////////////////////ys////+ys/////////ohNMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMho:oys/////////////////////ohosooyyo///////+shdNMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMNh+:/ys+///////////////+++ohhsooo+///////+yhmMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMmy::+hy+/////////////+syooshhsssysysssyshmMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMNh+:/yhhysoo+o+++++oys+/+ymMMMNMMMMNNNMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMds::+hh++oooooshdhy+::ohNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMmy::/s+:::::::ohhs/:/sdMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMmy/:::::::::::sy+::/ydMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMNh/::::::::::://::/ymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMNh/::::::::::::::+ymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMNh/:::::::::::::+hNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMNh/::::::::::::+hNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMdy/:::::::::::+yNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMNho:::::::::::/ymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMNdyo+/:::::::sdMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMNmddhyyyhhdNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM

David here! The source is messy as I usually change things often. In this case I'm
using the philosophy that if it is stupid and works, then it isn't stupid! :^)
-->

<head>
	<title>David Lee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>-->
	<link rel="stylesheet" href="../Resources/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../Resources/css/csshake.min.css" />
	<link rel="stylesheet" type="text/css" href="../Resources/css/index.css" />
	<link rel="stylesheet" type="text/css" href="" id="light-theme" />
	<link rel="stylesheet" type="text/css" href="../Resources/css/font-awesome.min.css" />

</head>

<body ng-controller="indexController">
	<!--Navbar-->
	<nav id="navbar" class="navbar navbar-inverse topbar navbar-fixed-top navbar-solid">
		<div class="navbar-header">
			<button type="button" id="collapseButton" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="#home">Home</a></li>
				<li><a href="#intro">Intro</a></li>
				<li><a href="#work">Work</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="AlbumGallery.html">Music</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			<li><a id="LightSwitch"><i class="fa fa-lightbulb-o"></i></a></li>
		</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<!--Name Plate-->
		<a name="home"></a>
		<div class="col-xs-12 col-md-12 name-div">
			<canvas id="canvas" class="col-xs-12 canvas"></canvas>
			<div class="col-xs-12 col-md-4 col-md-offset-0 name-plate">
				<h1><span>David Lee</span></h1>
				<p><span>3A Computer Engineering</span></p>
			</div>
		</div>
		<!--Intro-->
		<div class="col-xs-12 col-md-12 subsection intro">
			<div class="col-xs-12 subsection-mask">

				<a name="intro"></a>
				<div class="spacer"></div>
				<div class="col-xs-12 col-md-10 col-md-offset-1 subsection-text">
					<h2>Welcome</h2>
					<hr>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p>Well hello there! My name is David and this is my place on the internet. It may not be much, but it's mine. I'm a computer engineer at the University of Waterloo in my 3A term. I usually spend my free time coding or playing video games. You can also check out what I have been <a href="AlbumGallery.html">Listening</a> to.<!--I Also love some good memes once and a while!--></p>
						<p class="hidden" id="current-song-display">Right now I'm listening to <a id="current-song-text" href="" target="_blank"></a>.</p>

						<p>Take a look at all the things that make me, me.</p>
					</div>
				</div>

			</div>
		</div>

		<!-- WORK -->
		<div class="col-xs-12 col-sm-12 col-md-12 subsection work">
			<a name="work"></a>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
				<h2>Work</h2>
				<hr>
				<div ng-repeat="job in jobs">
					<ng-include src="'templates/job-entry.html'"></ng-include>
				</div>
			</div>
		</div>

		<!-- Projects -->
		<div class="col-xs-12 col-sm-12 col-md-12 subsection projects">
			<a name="projects"></a>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
				<h2>Projects</h2>
				<hr>
				<div ng-repeat="project in projects">
					<ng-include src="'templates/project-entry.html'"></ng-include>
				</div>
			</div>
		</div>

		<!-- Contact -->
		<div class="col-xs-12 col-sm-12 col-md-12 subsection contact">
			<a name="contact"></a>
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<h2>Contact</h2>
				<hr>

				<div class="contact-link-bar">
					<div class="contact-link" ng-repeat="link in contactLinks">
						<ng-include src="'templates/contact-link-entry.html'"></ng-include>
					</div>
					<div class="contact-link-bar-text"></div>

					<div class="footer-drawer-toggle">
							<i id="footer-toggle-button" class="fa fa-angle-double-up"></i>
					</div>
				</div>
			</div>

			<div class="footer-drawer col-xs-12 hidden">
				<img id="mop" src="../Resources/assets/Collage/MopWhite.svg" class="footer-drawer-icon easteregg hidden"/>
				<img id="fea" src="../Resources/assets/Collage/FEA.svg" class="footer-drawer-icon easteregg hidden"/>
				<img id="pill" src="../Resources/assets/RedPill.svg" class="footer-drawer-icon"/>
			</div>
		</div>


		</div>

	</div>
	<script src="../Resources/js/jquery-2.1.4.min.js"></script>
	<script src="../Resources/js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/main.js"></script>
	<script src="../Resources/js/index.js"></script>
</body>

</html>